.parent{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #4285f4;
}
.navLink{
    text-decoration: none;
    font-size: 25px;
}